* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: bold;
    line-height: 44px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
}