* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

input {
    width: 564px;
    height: 46px;
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    margin: 4.5px 0;
    outline: 0;
    padding-left: 14px;
}

.topo {
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: bold;
    line-height: 44px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.criacao-de-quizz {
    margin: 69px auto 0 auto;
}

.criacao-de-quizz p {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    margin-top: 71px;
    margin-bottom: 36px;
}

.informacoes-basicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-basicos {
    padding: 18px 23.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 5px 8px #0000000D;
}

.prosseguir {
    width: 324px;
    height: 54px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntas li {
    min-height: 74px;
    width: 600px;
    padding: 27px 18px 27px 18px;
    margin-bottom: 22px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 3px 5px 8px #0000000D;
}

.perguntas li p {
    margin-top: 27px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 23px;
}

.perguntas li p:first-child {
    margin-top: 0;
    position: absolute;
    top: 27px;
}

.maximizado {
    margin-top: 39px;
}

.icone {
    position: absolute;
    top: 27px;
    right: 18px;
}

.niveis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalizado div:last-child {
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 15px;
}

.escondido {
    display: none;
}
