* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

input {
    width: 564px;
    height: 46px;
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    margin: 4.5px 0;
    outline: 0;
    padding-left: 14px;
}

.topo {
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-weight: bold;
    line-height: 44px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.exibir-quizz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 69px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.fim-Quizz > div:first-child {
    background-color: #EC362D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 688px;
    height: 138px;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 18px;
}

.fim-Quizz > div:last-child {
    display: flex;
    width: 688px;
}

.fim-Quizz img {
    width: 364px; 
    height: 273px;
}

.fim-Quizz > div:last-child p {
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    margin-left: 21px;
}

.resultado {
    margin-top: 42px;
    width: 759px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exibir-quizz > div:last-child {
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 15px;
    margin-bottom: 30px;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    height: 227px;
}

.fundo {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo p {
    font-size: 39px;
    line-height: 45px;
    color: #FFFFFF;
}

.question {
    margin-top: 42px;
    width: 759px;
    padding: 27px 35px 27px 35px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question > div:first-child {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 138px;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 27px;
    font-weight: bold;
}

.question > div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688px;
}

.opcao {
    margin-top: 20px;
    position: relative;
}

.opcao img {
    width: 330px;
    height: 175px;
}

.opcao p {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
}

.opcao > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.conteudo {
    background-color: #fafafa;
    margin: 140px auto 0 auto;
    width: 1050px;
}

.criar-quizz {
    width: 1051px;
    height: 181px;
    padding: 30px;
    margin-bottom: 70px;
    background: #fafafa;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.criar-quizz-texto {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
}

.criar-quizz-botao {
    width: 151px;
    height: 40px;
    background: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-de-quizz {
    background-color: #fafafa;
    margin-bottom: 50px;
}

.lista-de-quizz:last-child {
    padding-bottom: 100px;
}

.titulo-da-lista {
    height: 23px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.titulo-da-lista ion-icon {
    color: #ec362d;
    margin-left: 10px;
    font-size: 32px;
}

.caixa-quizzes {
    background-color: #fafafa;
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 12px;
    justify-content: space-between;
}

.quizz-retangulo {
    width: 340px;
    height: 181px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 70%,
        #000000 100%
        );
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.quizz-titulo {
    width: 301px;
    height: 54px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.criacao-de-quizz {
    margin: 69px auto 0 auto;
}

.criacao-de-quizz p {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    margin-top: 71px;
    margin-bottom: 36px;
}

.informacoes-basicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-basicos {
    padding: 18px 23.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.prosseguir {
    width: 324px;
    min-height: 54px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.perguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 69px;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.perguntas li {
    min-height: 74px;
    width: 600px;
    padding: 27px 18px 27px 18px;
    margin-bottom: 22px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 3px 5px 8px #0000000D;
}

.perguntas li p {
    margin-top: 27px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 23px;
}

.perguntas li p:first-child {
    margin-top: 0;
    position: absolute;
    top: 27px;
}

.maximizado {
    margin-top: 39px;
}

.icone {
    position: absolute;
    top: 27px;
    right: 18px;
}

.niveis {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 69px;
    left: 0;
}

.niveis li {
    min-height: 74px;
    width: 600px;
    padding: 27px 18px 27px 18px;
    margin-bottom: 22px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 3px 5px 8px #0000000D;
}

.niveis li p {
    margin-top: 27px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 23px;
}

.niveis li p:first-child {
    margin-top: 0;
    position: absolute;
    top: 27px;
}

.finalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalizado > div:last-child {
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 15px;
}

.finalizado > div {
    position: relative;
}

.finalizado div p {
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: 23px;
    left: 23px;
    z-index: 1;
}

.gradiente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.escondido {
    display: none;
}

@media (max-width: 1100px) {
    .conteudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .criar-quizz {
        width: 340px;
    }
    
    .caixa-quizzes {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .banner img {
        height: 142px;
    }

    .fundo p {
        font-size: 19px;
        line-height: 22px;
    }

    .exibir-quizz > div:nth-child(2) {
        width: 100%;
    }

    .exibir-quizz > div:last-child {
        font-size: 18px;
        line-height: 21px;
    }

    .question {
        margin-top: 26px;
        width: 100%;
        padding: 18px 18px 18px 23px;
    }

    .question > div:first-child {
        height: 89px;
    }

    .question > div:last-child {
        width: 100%;
    }

    .opcao img {
        width: 163px;
        height: 113px;
    }

    .opcao p {
        font-size: 13px;
        line-height: 15px;
    }

    .resultado {
        width: 100%;
        padding: 16px;
        margin-top: 24px;
    }

    .fim-Quizz > div:first-child {
        width: 100%;
        height: 99px;
        font-size: 19px;
        line-height: 22px;
    }

    .fim-Quizz > div:last-child {
        width: 100%;
        flex-direction: column;
    }

    .fim-Quizz img {
        width: 100%;
    }

    .fim-Quizz > div:last-child p {
        margin-left: 0;
        font-size: 17px;
        line-height: 20px;
    }

    .prosseguir {
        margin-top: 30px;
        width: 324px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 0;
    }
}